.gallery-section-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 35px 40px;
	margin: 55px 0 24px;
	@media screen and (max-width: 921px) {
		margin: 40px 0 24px;
		grid-gap: 24px;
	}
	@media screen and (max-width: 400px) {
		grid-gap: 12px;
	}
}
