.testimonials-section-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 80px 100px 80px 150px;
	@media screen and (max-width: 767px) {
		padding: 80px 40px;
	}

	.swiper-button-prev {
		left: 40px;
		@media screen and (max-width: 767px) {
			left: 10px;
		}
	}

	.swiper-button-next {
		right: 40px;
		@media screen and (max-width: 767px) {
			right: 10px;
		}
	}

	.swiper-button-prev, .swiper-button-next {
		user-select: none;
		z-index: 5;

		&::after {
			content: none;
		}
	}

	.swiper-pagination {
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		.swiper-pagination-bullet {
			background-color: rgba(#fff, .5);
			width: 16px;
			height: 16px;
			margin: 0 6px;

			&.swiper-pagination-bullet-active {
				background-color: #fff;
			}
		}
	}

	.testimonials-section-wrapper__slider {
		padding-bottom: 50px;

		.testimonial-item {
			.testimonial-item-name {
				position: relative;
				padding-top: 100px;
				margin: 0 18px 24px;
				font-size: 32px;
				line-height: 40px;
				font-weight: 500;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 69px;
					height: 61px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 69.714 61'%3E%3Cpath fill='%23e83f4b' d='M63.179 30.5H52.286v-8.714A8.722 8.722 0 0 1 61 13.071h1.089a3.26 3.26 0 0 0 3.268-3.268V3.268A3.26 3.26 0 0 0 62.089 0H61a21.78 21.78 0 0 0-21.786 21.786v32.678A6.537 6.537 0 0 0 45.75 61h17.429a6.537 6.537 0 0 0 6.536-6.536V37.036a6.537 6.537 0 0 0-6.536-6.536Zm-39.214 0H13.071v-8.714a8.722 8.722 0 0 1 8.714-8.714h1.089a3.26 3.26 0 0 0 3.268-3.268V3.268A3.26 3.26 0 0 0 22.875 0h-1.089A21.78 21.78 0 0 0 0 21.786v32.678A6.537 6.537 0 0 0 6.536 61h17.428a6.537 6.537 0 0 0 6.536-6.536V37.036a6.537 6.537 0 0 0-6.536-6.536Z' data-name='Icon awesome-quote-left'/%3E%3C/svg%3E%0A");
				}
			}

			.testimonial-item-content {
				&, p {
					margin: 0;
					font-size: 20px;
					line-height: 30px;
					font-weight: 500;
				}
			}

			@media screen and (max-width: 1600px) {
				.testimonial-item-name {
					font-size: 30px;
				}
			}
		}
	}
}
